[Desktop Entry]
Categories=Game;RolePlaying;
Comment[en_US]=EZDM Web Version
Comment=EZDM Web Version
Exec=/usr/games/cgi-server.ezdm
GenericName[en_US]=EZDM Web Version
GenericName=EZDM Web Version
Icon=/usr/share/icons/hicolor/128x128/ezdm-web.png
MimeType=
Name[en_US]=EZDM-Web
Name=EZDM-Web
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
