[Desktop Entry]
Categories=Game;RolePlaying;
Comment=Easy Dungeon Master Tools
Exec=/usr/games/cgi-server.ezdm
GenericName=EZDM
Icon=/usr/share/icons/hicolor/128x128/ezdm.png
Name=EZDM
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
